<div class="container py-5 blog-detail">
    <h2> Blogs số {{id}} </h2>
    <div class="row py-5">
        <div class="col-sm-8">
            <img src="../assets/img/blog_detail1.jpg" alt="">
            <h3 class="py-4">In Particular The Global World of Lorem Ispum Asap Tempor</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum at ipsam cum vel soluta molestias incidunt dicta? Voluptate, eligendi temporibus perferendis minus saepe laudantium nulla illo rem vel. Natus, ducimus.</p>
            <div class="row">
                <div class="col-sm-6">
                    <img src="../assets/img/blog_detail1-1.jpg" alt="">
                </div>
                <div class="col-sm-6">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus modi ratione magnam, quo expedita culpa architecto repellat saepe voluptatibus distinctio quis veritatis exercitationem corporis earum quibusdam numquam sapiente. Maiores, nostrum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia impedit maxime, eius aliquam, optio ratione sint explicabo eveniet repellat magni eligendi provident, nihil at debitis accusantium nulla voluptatibus. Itaque, temporibus! Lorem . </p>
                </div>
            </div>
            <h4>TAG:<a href="">Fashion</a><a href="">Style</a></h4>
            <div class="row py-5">
                <div class="col-sm-3">
                    <img src="../assets/img/tacgia.jpg" alt="">
                </div>
                <div class="col-sm-9">
                    <h4>Jhon Doe</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis vitae soluta fugiat nisi ut distinctio odit, fugit, minima corrupti, temporibus quo aliquam corporis similique culpa qui impedit laborum voluptatum laudantium!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <h3>SEARCH</h3><br>
            <input type="text" name="" >
            <button type="submit" value="Tìm kiếm" class="btn-primary"> Tìm kiếm</button>
            <div class="tacgia py-5 text-center">
                    <img src="../assets/img/tacgia.jpg" alt="">
                    <h4>Tom D. Mainanay</h4>
                    <h6>CEO & Founder</h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae laborum, similique repudiandae unde, nam quos dicta praesentium enim repellendus, incidunt repellat fugiat voluptatibus esse odit mollitia. Quod ipsum praesentium error!</p>
                    <a href=""><i class="fab fa-facebook"></i></a>  &nbsp;&nbsp;    
                    <a href=""><i class="fab fa-twitter-square"></i></a>    &nbsp;&nbsp;
                    <a href=""><i class="fab fa-google"></i></a>    &nbsp;&nbsp;
                    <a href=""><i class="fab fa-instagram"></i></a>    &nbsp;&nbsp;
                    <a href=""><i class="fab fa-telegram-plane"></i></a>    &nbsp;&nbsp;                                 
            </div>
        </div>
    </div>
</div>
