<main>
        <div class="container wrap-tienich py-5">
            <div class="row py-5">
                <div class="col-sm-4">
                    <img src="../assets/img/shipped.png" alt="">
                    <h2 class="py-3">Free shipping order</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                </div>
                <div class="col-sm-4">
                    <img src="../assets/img/back.png" alt="">
                    <h2 class="py-3">Free shipping order</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                </div>
                <div class="col-sm-4">
                    <img src="../assets/img/customer.png" alt="">
                    <h2 class="py-3">Free shipping order</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                </div>
            </div>
        </div>
        <div class="top-categories py-5">
            <div>
                <h1 class="p-3 text-center">TOP CATEGORIES</h1>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi dolor, vel error magni veritatis eni.</p>
            </div>
            <div class="container py-5">
                <div class="row">
                    <div class="col-sm-4 banner-left">
                        <img src="../assets/img/bannerleft.jpg" alt="">
                        <div class="carousel-caption">
                            <h4 >Up To 40% Off</h4>
                            <h3>Shoes & Jewelly</h3>
                            <h4><a routerLink="/shop">Explore More =></a></h4>
                        </div>
                    </div>
                    <div class="col-sm-8 banner-top">
                        <img src="../assets/img/bannertop.jpg" alt="">
                        <div class="row  mt-4">
                            <div class="col-sm-6 under">
                                <img class="w-100" src="../assets/img/bannermid.jpg" alt="">
                                <div class="carousel-caption">
                                    <h4 >Up To 40% Off</h4>
                                    <h3>Shoes & Jewelly</h3>
                                    <h4><a routerLink="/shop">Explore More =></a></h4>
                                </div>
                            </div>
                            <div class="col-sm-6  under">
                                <img class="w-100" src="../assets/img/bannerright.jpg" alt="">
                                <div class="carousel-caption">
                                    <h4 >Up To 40% Off</h4>
                                    <h3>Shoes & Jewelly</h3>
                                    <h4><a routerLink="/shop">Explore More =></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="trending py-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/T09fn0nJgPE?start=21" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-sm-6">
                        <h4>Winter Collection 20% Off</h4>
                        <h1>TRENDING FASHION</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea temporibus excepturi molestiae earum, id, nulla eius illo, voluptatem suscipit commodi consectetur amet maiores. Dolores alias at aspernatur soluta dolorem ipsum.</p>
                        <button>VIEW NOW</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="product py-5 ">
            <h1 class="text-center">TRENDING PRODUCTS</h1>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem rerum numquam eaque, fugit <br> voluptatem aperiam facere? Quibusdam temporibus soluta adipisc.</p>
            <div class="container py-5">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../assets/img/item1.jpg" alt="">
                        <h4 class="text-center py-3"><a href="">White Polo Men's T-Shirt</a></h4>
                        <h5 class="text-center">$34.00</h5>
                    </div>
                    <div class="col-sm-4">
                        <img src="../assets/img/item2.jpg" alt="">
                        <h4 class="text-center"><a href="">White Polo Men's T-Shirt</a></h4>
                        <h5 class="text-center">$34.00</h5>
                    </div>
                    <div class="col-sm-4">
                        <img src="../assets/img/item3.jpg" alt="">
                        <h4 class="text-center py-3"><a href="">White Polo Men's T-Shirt</a></h4>
                        <h5 class="text-center">$34.00</h5>
                    </div>
                    <div class="col-sm-4">
                        <img src="../assets/img/item4.jpg" alt="">
                        <h4 class="text-center py-3"><a href="">White Polo Men's T-Shirt</a></h4>
                        <h5 class="text-center">$34.00</h5>
                    </div>
                    <div class="col-sm-4 ">
                        <img src="../assets/img/item5.jpg" alt="">
                        <h4 class="text-center py-3"><a href="">White Polo Men's T-Shirt</a></h4>
                        <h5 class="text-center">$34.00</h5>
                    </div>
                    <div class="col-sm-4 ">
                        <img src="../assets/img/item6.jpg" alt="">
                        <h4 class="text-center py-3"><a href="">White Polo Men's T-Shirt</a></h4>
                        <h5 class="text-center">$34.00</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="deal">
            <div class="container">
                <h3 style="color: red; " class="text-center py-3">STYLE FASHION</h3>
                <h1 class="text-center">DEAL OF THE DAY</h1>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="../assets/img/dealtime.jpg" alt="">
                        <div class="row py-3">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <button>SHOP NOW</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 py-5">
                        <div class="row clockdiv">
                                <div class="col-sm-3 deal-time">
                                    <span class="days"></span>
                                    <div class="smalltext">Days</div>
                                </div>
                                <div class="col-sm-3 deal-time">
                                    <span class="hours"></span>
                                    <div class="smalltext">Hours</div>
                                </div>
                                <div class="col-sm-3 deal-time">
                                    <span class="minutes"></span>
                                    <div class="smalltext">Minutes</div>
                                </div>
                                <div class="col-sm-3 deal-time">
                                    <span class="seconds"></span>
                                    <div class="smalltext">Seconds</div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="company py-5">
            <div class="container py-5">
                <div class="row">
                    <div class="col-sm-2">
                        <img src="../assets/img/comp1.png" alt="">
                    </div>
                    <div class="col-sm-2">
                        <img src="../assets/img/comp2.png" alt="">
                    </div>
                    <div class="col-sm-2">
                        <img src="../assets/img/comp3.png" alt="">
                    </div>
                    <div class="col-sm-2">
                        <img src="../assets/img/comp4.png" alt="">
                    </div>
                    <div class="col-sm-2">
                        <img src="../assets/img/comp5.png" alt="">
                    </div>
                    <div class="col-sm-2">
                        <img src="../assets/img/comp6.png" alt="">
                    </div>
                </div>
            </div>
        </div> 
</main>
