<footer>
    <div class="contact-us">
        <div class="container py-5">
            <div class="row">
                <div class="col-sm-3">
                    <img src="../assets/img/01_Homepage_02.jpg" alt="">
                    <h6 class="py-5"> No 342-London Oxford Street <br> 012 United States<br>Youremail@gmail.com<br>012346579</h6>
                    <div class="row py-3">
                        <div class="col-sm-2">
                            <a href=""><i class="fab fa-facebook"></i></a>    
                        </div>
                        <div class="col-sm-2">
                            <a href=""><i class="fab fa-twitter-square"></i></a>
                        </div>
                        <div class="col-sm-2">
                            <a href=""><i class="fab fa-google"></i></a>    
                        </div>
                        <div class="col-sm-2">
                            <a href=""><i class="fab fa-instagram"></i></a>    
                        </div>
                        <div class="col-sm-2">
                            <a href=""><i class="fab fa-telegram-plane"></i></a>    
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h3>Useful Links</h3>
                    <div class="py-3">
                        <h6><a href="">About us</a></h6>
                        <h6><a href="">Privacy</a></h6>
                        <h6><a href="">Terms</a></h6>
                        <h6><a routerLink="/contact">Contact Us</a></h6>
                        <h6><a href="">Help & Support</a></h6>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h3>My Account</h3>
                    <div class="py-3">
                        <h6><a href="">My Account</a></h6>
                        <h6><a href="">My Cart</a></h6>
                        <h6><a href="">My Wishlist</a></h6>
                        <h6><a href="">Registration</a></h6>
                        <h6><a href="">Check Out</a></h6>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h3>Subscribe Our Newsletter</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quas rem molestiae similique alias praesentium, ex rerum!</p>
                    <input type="email" placeholder="Your email"><button>Subcribe</button>
                </div>
            </div>
        </div>
    </div>
</footer>