<div class="container py-5 not-found">
    <div class="row py-5">
        <div class="col-6">
            <h1>OPPS! Page Not Found</h1>
            <p>We're sorry but can can't seem to find the pages you request <br>This might be because you have typed the wed address not <br>find incorrecttly</p>
            <a class="btn btn-primary" routerLink="/main" role="button">Back to home</a>
        </div>
        <div class="col-6">
            <img src="../assets/img/opps.jpg" alt="">
        </div>
    </div>
</div>