<div class="container wrap-contact py-5">
    <div class="address py-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1861.8288002627266!2d105.78253067186262!3d21.046381997523145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab3b4220c2bd%3A0x1c9e359e2a4f618c!2sB%C3%A1ch%20Khoa%20Aptech!5e0!3m2!1svi!2s!4v1607136381902!5m2!1svi!2s" width="1110" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="row py-5">
        <div class="col-sm-4">
            <h1>Feel Free Don't Hesitate To Contact With Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam vitae quos illo quibusdam laborum blanditiis exercitationem. Aut minima, architecto beatae veniam autem maxime molestias quo! Dignissimos aperiam excepturi qui id!</p>
            <div class="row">
                <div class="col-lg-3">
                    <i class="fas fa-phone"></i>
                </div>
                <div class="col-lg-9">
                    <h6>+0123-456-7890</h6>
                    <h6>+0123-456-7890</h6>
                </div>       
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="col-lg-9">
                    <h6>Ranlon Market 789 Road</h6>
                    <h6>Market Street, New York</h6>
                </div>       
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <i class="fas fa-envelope-open-text"></i>
                </div>
                <div class="col-lg-9">
                    <h6>youremailaddress@gmail.com</h6>
                    <h6>companymail@gmail.com</h6>
                </div>       
            </div>
        </div>
        <div class="col-sm-8">
            <h3>Contact Form</h3>
            <div class="container">
                <div class="row py-3">
                    <div class="col-sm-6">
                        <input type="text" size="40" placeholder="Your Name">
                    </div>
                    <div class="col-sm-6">
                        <input type="text"size="40" placeholder="Your E-mail Address">
                    </div>
                </div>
                <div class="py-3">
                    <input type="text" size="91" placeholder="Subject"><br> <br>
                    <textarea name="" id="" cols="93" rows="10" placeholder="Messenger here"></textarea>
                </div>
                <button>Send Message</button>
            </div>
        </div>
    </div>
</div>
