<div class="container py-5">
    <div class="row">
        <h1 class="col-6 text-center"><a routerLink="/register">Register</a></h1>
        <h1 class="col-6 text-center"><a routerLink="/login">Login</a></h1>
    </div>
    <div class="text-login py-5 text-center">
        <form action="">
                <h6>Username or email address</h6>
                    <input type="text" name="" id="" size="75" required=""><br><br>
                <h6>Password</h6>
                    <input type="password" size="75"><br><br>
                <input type="checkbox" id="account" name="account" value="account" required="">
                    <label for="account">&nbsp; Remember me</label><br><br>
                <button>Submit</button><br>	
                <a href="">Lost your password ?</a>
        </form>
    </div>
</div>