<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href=""><img src="../assets/img/01_Homepage_02.jpg" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" routerLink="/main">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/shop">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/page">Pages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/blog">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>
                <li class="nav-item py-2">
                    <i class="fas fa-user"><a class="nav-link" routerLink="/login"></a></i>
                </li>
                <li class="nav-item py-2">
                    <i class="fas fa-search"><a class="nav-link" routerLink="/shop"></a></i>
                </li>
                <li class="nav-item py-2">
                    <i class="fas fa-heart"><a class="nav-link" routerLink="/favourite"></a></i>
               </li>
               <li class="nav-item py-2">
                  <i class="fas fa-cart-plus"><a class="nav-link" routerLink="/shop"></a></i>
              </li>
              </ul>
            </div>
          </nav>
    </div>
</header>