<div class="blog py-5">
    <div class="container">
        <h1 class="text-center">FROM OUR BLOG</h1>
        <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus pariatur necessitatibus, in aliq<br>uam quasi laborum, ex sequi alias nam sapiente ?</p>
    </div>
   <div class="container py-5">
        <div class="row">
            <div class="col-sm-4">
                <img src="../assets/img/blog1.jpg" alt="">
                <div class="container py-3">
                    <h6>Our Apps User Mobile On <br>His Mobile</h6>
                    <h6><a routerLink="/blog/1">Read More -></a></h6>
                </div>
            </div>
            <div class="col-sm-4">
                <img src="../assets/img/blog2.jpg " alt="">
                <div class="container  py-3">
                    <h6>Our Apps User Mobile On <br>His Mobile</h6>
                    <h6><a routerLink="/blog/2">Read More -></a></h6>
                </div>
            </div>
            <div class="col-sm-4">
                <img src="../assets/img/blog3.jpg" alt="">
                <div class="container  py-3">
                    <h6>Our Apps User Mobile On <br>His Mobile</h6>
                    <h6><a routerLink="/blog/3">Read More -></a></h6>
                </div>
            </div>
        </div>
   </div>
</div>